<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SAMAU</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/a0d941daaa.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sitio web de nuestra marca de Cerveza Artesanal">
  <meta name="keywords"  content="CERVEZA, ARTESANAL, BEBIDAS">

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index.html">SAMAU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/bodega.html">Bodega</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/contacto.html">Contactanos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
      </li>
    </ul>
  </div>
</nav>

<body>

  <div class="mid pat row">
    <div class="text col-lg-6">
      <h2 class="">¿Quienes somos?</h2>
      <p class="">La historia de SAMAU habla de la búsqueda, la pasión y la amistad. Un destino que siempre estuvo impreso, grabado en el alma de sus tres creadores: Santiago, Marcos y Ulises.<br>El nombre SAMAU remite a las primeras silabas de sus nombres.<br>Somos más de 80 apasionados por la cerveza artesanal que se esmeran día a día para hacer las cervezas más ricas, mejorar la calidad, ser innovadores, creativos y brindarle a nuestros clientes más de lo que esperan. </p>
    </div>
    <div class="col-lg-6">
      <img class="me-img" src="../imagenes/cervezas.png" alt="me-img">
    </div>
  </div>

<div class="final">
  <div class="">
      <h4 class="ican2">¿Queres contactarnos?</h4>
  </div>
  <div class="foot row">
    <div class="link2 col-lg-4">
      <a class="a2" href="./404.html"><i class="fab fa-instagram fa-3x"></i></a>
      <p>Encotrar lo ultimo en nuestras redes</p>
    </div>
    <div class="link2 col-lg-4">
      <a class="a2" href="./404.html""><i class="fab fa-facebook-f fa-3x"></i></a>
      <p>Ponete en contacto</p>
    </div>
    <div class="link2 col-lg-4">
      <a class="a2" href="./404.html""><i class="fab fa-whatsapp fa-3x"></i></a>
      <p>Mandanos un msj</p>
    </div>
  </div>
</div>
</body>
</html>